.board-row {
  clear: both;
  content: "";
  display: block;
}

.square {
  background: blanchedalmond;
  border: 1px solid black;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  padding: 0;
  text-align: center;
  width: 2em;
  display: inline-block;
}

/* square types */
.tripleWord {
  background: red;
}

.doubleWord {
  background: #ff8080;
}

.tripleLetter {
  background: blue;
}

.doubleLetter {
  background: lightblue;
}

.lockedSquare {
  background: grey;
  color: black;
}

.game {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.game-info {
  margin: 2em;
}